# Common variables
apt_cache_valid_time: 3600

# Personal system variables
update_packages: true
upgrade_packages: true
install_security_updates: true

# Variables to define if specific tasks should be run
run_htpc_tasks: false
run_workstation_tasks: false


# Flatpak Remotes to be used by all systems
flapak_common_remotes:
  - flathub


# Software to be installed in every system
software_packages_common_present:
  - htop
  - btop
  - tmux
  - gparted
  - openssh-server
  - vim
  - git
  - curl
  - vlc
  
