# Server system variables
update_packages: true
upgrade_packages: true
install_security_updates: true

software_packages_htpc_present:
  - btop

#flatpak_htpc_remotes:

flatpak_packages_htpc_present:
  - tv.kodi.Kodi
  - org.libretro.RetroArch
  - com.moonlight_stream.Moonlight

htpc_main_user: htpc_user
htpc_main_user_password: htpc
htpc_shared_directory_group: htpc

htpc_shared_directories:
  - /home/shared/media
  - /home/shared/media/anime
  - "{{ htpc_shared_directory_background_images }}"
  - /home/shared/media/movies
  - /home/shared/media/music
  - /home/shared/media/pictures
  - /home/shared/media/shows
  - /home/shared/emulation


htpc_shared_directory_background_images: /home/shared/media/backgrounds

htpc_groups_present:
  - htpc


htpc_users_present:
  REPLACE_THIS_your-main-user:
    - htpc
  "{{ htpc_main_user }}":
    - htpc