software_packages_personalstation_present:
  - steam
  - rclone
  - rclone-browser
  - clementine
  - thunderbird


flatpak_packages_personalstation_present:
  - name: org.darktable.Darktable
    remote: flathub