software_packages_workstation_present:
  - bridge-utils
  - docker
  - docker-compose
  - keepassxc
  - nmap
  - qemu-kvm
  - ubuntu-restricted-extras
  - virt-manager

flatpak_packages_workstation_present:
  - name: com.vscodium.codium
    remote: flathub
  - name: com.jgraph.drawio.desktop
    remote: flathub
  - name: org.gimp.GIMP
    remote: flathub
  - name: org.gimp.GIMP.Plugin.GMic/x86_64/2-40
    remote: flathub

# external repository software
install_brave: true
